{% extends 'base.html' %}
{%load static%}


{% block tambahStyle %}

<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock tambahStyle %}
{% block content %}

<div style="background-color: #f9f9f9;" class=" py-20 w-screen flex content-center align-content-center justify-center">
    <div class="card  w-50">
        <div style="background-color:#cdc9c383; " class="card-header rounded-t-lg">
            <blockquote class=" mb-0">
                <p style="font-family: Quotes;" class="text-4xl font-weight-bolder">College is fun as long as you don't
                    die.
                </p>
                <footer class="blockquote-footer">Tsugumi Ohba, <cite title="Source Title">Manga
                        Author</cite>
                </footer>
            </blockquote>

        </div>
        <div style="font-family: LemonMilk;background-color:#fbf7f0;" class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{form.nama_matkul.label_tag}}
                    {{form.nama_matkul}}
                </div>
                <div class="form-group">
                    {{form.dosen.label_tag}}
                    {{form.dosen}}
                </div>
                <div class="form-group">
                    {{form.jumlah_sks.label_tag}}
                    {{form.jumlah_sks}}
                </div>
                <div class="form-group">
                    {{form.ruangan.label_tag}}
                    {{form.ruangan}}
                </div>
                <div class="form-group">
                    {{form.deskripsi.label_tag}}
                    {{form.deskripsi}}
                </div>

                <a class="btnMatkul">

                    <button class="btnMatkul" type="submit">Submit!</button>
                </a>
            </form>
        </div>
    </div>
</div>


{% endblock content %}