{% extends 'base.html' %}
{%load static%}


{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">



{% endblock tambahStyle %}
{% block content %}

<div class="containerPerfCenter">

    <div class="flex-col w-50">
        <div style="margin-bottom: 40px;" class="text-center">
            <h1 style="font-family:Lemon">Here is your matkul!</h1>
        </div>
        <div class="card  w-150">
            <div style="background-color:#cdc9c383; " class="card-header rounded-t-lg">
                <h1 style="font-family: LemonMilk;" class="text-uppercase text-center">{{matkul.nama_matkul}}</h1>
            </div>
            <div style="font-family: Laila;background-color:#fbf7f0;" class=" card-body">
                <table class="table-fixed">
                    <tbody>
                        <tr>
                            <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Deskripsi
                                matkul</td>
                            <td class="w-100 text-sm-justify px-4 py-2">{{matkul.deskripsi}}</td>
                        </tr>
                        <tr>
                            <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Jumlah SKS
                            </td>
                            <td class="text-sm-justify px-4 py-2">{{matkul.jumlah_sks}}</td>
                        </tr>
                        <tr>
                            <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Ruangan
                            </td>
                            <td class="text-sm-justify px-4 py-2">{{matkul.ruangan}}</td>
                        </tr>
                        <tr>
                            <td style="border-right: 2px solid black;" class="font-weight-bolder px-4 py-2">Dosen
                            </td>
                            <td class="text-sm-justify px-4 py-2">{{matkul.dosen}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-1 text-gray-700 text-center  py-2 m-2 ">
            <div class="rounder-lg ">
                <a href="{% url 'listMatkul'%}" class="btnMatkul">Go back to the list!</a>
            </div>

        </div>
    </div>

</div>

{% endblock content %}