{% extends 'base.html' %}
{%load static%}


{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">



{% endblock tambahStyle %}
{% block content %}
{% include 'navbar.html' %}
<div style="background-color: #D2E3EE;" class="containerAtas">
    <div class="flex flex-col h-80 w-50">
        <div style="font-family: LemonMilk;" class="text-2xl text-black">
            What do you want to do?
        </div>
        <div class="flex h-40 items-center">
            <div class="flex-1 text-gray-700 text-center  py-2 m-2 ">
                <div class="rounder-lg ">
                    <a href="{% url 'addMatkul'%}" class="btnMatkul ">add</a>
                </div>
            </div>
            <div class="flex-1 text-gray-700 text-center  py-2 m-2 ">
                <div class="rounder-lg ">
                    <a href="{% url 'listMatkul'%}" class="btnMatkul">list</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}