{% extends 'base.html' %}
{% load static %}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">

{% endblock tambahStyle %}
{% block content %}
{% include 'navbar.html'%}


{% if listMatkul.count == 0 %}
<div style="background-color: #D2E3EE;" class="containerPerfCenter">
    <div class="flex-col items-center justify-center ">
        <div style="background-color: inherit;" class="containerPerfCenter">
            <h1 style="font-family: Ledger;" class="text-2xl">
                You haven't created anything yet</h1>
        </div>
        <div style="background-color: inherit;" class="rounder-lg containerPerfCenter">
            <a href="{% url 'addMatkul'%}" class="btnMatkul ">Create here!</a>
        </div>
    </div>
</div>
{% else %}
<div style="background-color: #D2E3EE;" class="pb-4 w-screen pt-5">
    <h1 style="font-family: LemonMilk; margin:40px 0;" class="text-center ">Here is your list sir!</h1>
    <table class="table tMatkul table-responsive-md">
        <thead style="font-family: Lemon;">
            <tr class="text-center">
                <th scope="col">Nama Matkul</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Jumlah SKS</th>
                <th scope="col">Nama Dosen</th>
                <th scope="col">Ruangan</th>
                <th scope="col">Still need?</th>

            </tr>
        </thead>
        <tbody style="font-family: Ledger;">

            {% for matkul in listMatkul %}
            <tr>
                <th scope="row">
                    <a href="{% url 'details' matkul_id=matkul.pk%}">
                        {{matkul.nama_matkul}}
                    </a>
                </th>
                <td>
                    {{matkul.deskripsi}}
                </td>
                <td>
                    {{matkul.jumlah_sks}}
                </td>
                <td>
                    {{matkul.dosen}}
                </td>
                <td>
                    {{matkul.ruangan}}
                </td>
                <td>
                    <div style="background-color: inherit;" class="containerPerfCenter">
                        <a class="btnMatkul" href="{% url 'delete' delete_id=matkul.pk %}">
                            <button class="btnMatkul">Delete it!</button>
                        </a>
                    </div>
                </td>
            </tr>


            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>


{% endif %}



{% endblock content %}