{% extends 'base.html' %}
{% load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock tambahStyle %}


{% block content %}
<div class="containerAtas">
    <div class="col-in">
        <div class="wrapper">
            <a id='startBtn' href="#" class="btns">Start!</a>
        </div>

    </div>
</div>

<div class="containerInputName">
    <div class="inputan">
        <h1>Knock Knock, who is this?</h1>
        <input placeholder="Isi namamu" type="text" id="nameReq" style="margin:0 auto;">
    </div>
</div>



{% endblock content %}


{% block tambahScript %}

<script src="{% static 'js/indexutama.js'%}"> </script>
{% endblock tambahScript %}