{% extends 'base.html' %}
{% load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock tambahStyle %}

{% block content %}


{% include 'navbar.html' %}
<div class="containerInputName">
    <div id="greetingName" class="inputan">
    </div>
</div>
<div style="background-color: #A6DCEF;" class="containerImg">
    <div class="img">
        <img src="/static/img/foto.png" alt="foto Estu" class="imgResp">
    </div>
</div>
<div style="background-color: #a6dcef9c;" class="containerAbout">
    <div style="width: 30%;" class="background">
        <h3>About Me</h3>
    </div>
</div>
<div style="background-color: #a6dcef9c;" class="containerDesc">
    <p style="font-size: 75%;">Mahasiswa tahun kedua jurusan Sistem Informasi di Universitas Indonesia. Love to
        explore and learn something,
        also love cookies <span class="fa fa-heart"></span>. <br> Berkeinginan untuk menjadi project manager di
        suatu
        perusahaan suatu saat nanti. Last but not least aku juga suka sama semua olahraga tanpa terkecuali,
        especially run (road runner). Yu kalo ada yang mau lari bareng just contact me in <a id="linkSocmed"
            href="#">here</a>
    </p>
</div>
<div style="background-color: #f6f6f6;" class="containerAbout">
    <div style="background-color: #dfdfdf;" class="background">
        <h3>Educational Experience</h3>

    </div>
</div>

<!-- Education -->
<div class="containerRiwayatPendidikan">
    <img class="imgRiwayat" src="/static/img/riwaya.png" alt="">
</div>

<!-- Job Experience -->
<div class="containerJob">
    <div id="job" class="containerAbout">
        <div style="background-color: #BFDCAE; width:40%" class="background">
            <h3>Job Experience</h3>
        </div>
    </div>
    <div class="containerLogo">
        <img class="imgRiwayat" id="logoAltech" src="/static/img/altech.png" alt="">
    </div>
    <div class="descJob text-center">
        <h1>
            <b style="text-decoration: underline;">
                System Analyst Internship
            </b>
            <br>
            <span style="font-size: 75%;">
                July 2020 - August 2020
            </span>
        </h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="/static/img/al1.jpg" class="img-responsive " style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <img src="/static/img/al3.jpg" class="img-responsive " style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <img src="/static/img/al1.jpg" style="width:100%" alt="Image">
            </div>
        </div>
    </div>
    <div class="containerLogo">
        <img class="imgRiwayat" id="logoUI" src="/static/img/ui.png" alt="">
    </div>
    <div class="descJob text-center">
        <h1>
            <b style="text-decoration: underline;">
                Teaching Assistant of Foundation Programming 1
            </b>
            <br>
            <span style="font-size: 75%; ">
                September 2020 - Present
            </span>
        </h1>
    </div>
</div>

<!-- Project -->
<div class="project">
    <div style="background-color: #F1F1E8;" class="containerAbout">
        <div style="background-color: #E8DED2; width:40%" class="background">
            <h3>My Little Project</h3>
        </div>
    </div>
    <div class="judul text-center mt-5">
        <h3>Nobarkor.id</h3>
        <h5>Heaven for K-drama lover</h5>
    </div>
    <div style="margin-top: 100px;" class="main container">
        <div class="row">
            <div class="col-md">
                <div class="imgNobarkor d-flex flex-column justify-content-center align-items-center">
                    <img src="/static/img/nobarkor1.png" style="width:75%" alt="Image">
                    <br>
                    <img src="/static/img/nobarkor2.png" style="width:75%" alt="Image">
                    <br>
                    <img src="/static/img/nobarkor3.png" style="width:75%" alt="Image">
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="top">
                    <h1>Bingung mau nonton drama korea apa?</h1>
                    <h3>Di Nobarkor.id, kalian bisa search drama korea pilihan yang pastinya terbaik!</h3>
                </div>
                <div class="down">
                    <h1>Go get yours fav K-Drama at </h1>

                    <a href="https://nobarkorid.herokuapp.com">
                        <h3>nobarkorid.herokuapp.com</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panitia">
    <div style="background-color: #E0ECE4;" class="containerAbout">
        <div style="background-color: #8FC0A9; width:40%" class="background">
            <h3>My First Year In a Nutshell</h3>
        </div>
    </div>
</div>
<div style="background-color: #E0ECE4;" class="container-fluid pt-5">
    <div class="row">
        <div class="col-sm-4">
            <img src="/static/img/oh.jpg" class="img-responsive " style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <img src="/static/img/rdrm.jpg" class="img-responsive " style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <img src="/static/img/pr.jpg" style="width:100%" alt="Image">
        </div>
    </div>
</div>

<div style="background-color: #A3D2CA;" class="miniQuiz">
    <div style="background-color:#5EAAA8" class="title text-center" id="quiz">
        <div class="content">

            <h3>Bosen kan? Quiz yuk!</h3>

            <div class="pertanyaan text-center">
                <h3><span id="first"></span> <span>+</span> <span id="second"></span>
                    <span>=</span>
                </h3>
                <div class="inputnya">

                    <input placeholder="berapa jawabnnya" type="text" id="quizReq">
                </div>
            </div>
        </div>
        <div class="again">
            <button style="opacity: 0;" id="play" class="btnLagi">Main Lagi?</button>
        </div>
    </div>
    <!-- <br> -->
</div>
<div class="footer">
    <div style="background-color: #F6F4E6;" class="socialMedia">
        <ul class="socmedList">

            <li><a href="https://api.whatsapp.com/send?phone=628111025923">
                    <img src="{% static 'img/wa.png'%}" class="socmed">

                </a></li>
            <li><a href="https://www.instagram.com/estuputraaa/?hl=id/estuputraaa">
                    <img src="{% static 'img/ig.png'%}" class="socmed">

                </a></li>
            <li>
                <a href="https://www.linkedin.com/in/estuputra-denaya-69b1a5196/">
                    <img src="{% static 'img/linkedin.png'%}" class="socmed">

                </a>
            </li>
        </ul>

    </div>

</div>

{% endblock content %}

{% block tambahScript %}
<script src="{% static 'js/index.js'%}"> </script>
{% endblock tambahScript %}