{% extends 'base.html' %}
{% load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">

<!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
{% endblock tambahStyle %}
{% block content %}

<div class="containerAtas">
    <div style="width: 50%;">
        <h1 style="font-family:LemonMilk">Coming Soon!</h1>
        <a href="/landing">
            <h3 style="font-family:LemonMilk">Go back here!</h3>
        </a>
    </div>
</div>
{% endblock content %}