<nav style="background-image: linear-gradient(to bottom, rgba(255, 11, 11, 0), #D2E3EE);font-family:LemonMilk;"
    class="navbar navbar-expand-md navbar-light ">
    <!-- <a style="color: black;" class="navbar-brand" href="#">{{waktu|date:'SHORT_DATE_FORMAT'}}</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'landing'%}">Home <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/story5">Story 5</a>
            <a class="nav-item nav-link" href="/story6">Story 6</a>
        </div>

    </div>
</nav>